body {
	background: linear-gradient(to right, rgba(52,117,247,1) 0%, rgba(39,208,230,1) 100%);
	font-size: 14px;
	line-height: 1.6;
	font-family: "Montserrat", sans-serif;
	color: $white;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
}