// Colors
$white: #fff;
$black:#01e7ff;
$highlight:#27cde7;
$muted-gray:rgba(49, 49, 49, 0.57);

// $white: #fff;
// $black:#1068dd;
// $highlight:#23c4ba;
// $muted-gray:#0698ba;

$one: #0c1558;
$one-one: #4b8ce8;
$one-twoo: #fe5495;
$white: #fff;

$two: #3abfc4;
$two-one:  #004181;
$white: #fff;

/*https://co.pinterest.com/pin/358951032785746936/*/

// linear
/*
* background: linear-gradient(to right, rgba(52,117,247,1) 0%, rgba(39,208,230,1) 100%);
* https://www.behance.net/gallery/46849741/Design-for-Information-Security-Website
*/


/*https://www.behance.net/gallery/48187583/Webpage-sall-the-doctor-at-home*/
$the: #01e7ff;
$the-o:#003c62;
$the-t: #00d9f0;
$the-p:#00d3eb;


    // background: linear-gradient(154deg, #008fe2 0, #00b29c 100%);
